<!-- start card -->
<div class="col col-12 col-md-4">
  <a href="<%= static_pages_Article_path %>">
    <div class="card-me">
      <div class="image-background" style="background-image:url(https://cdn.theatlantic.com/assets/media/img/posts/Pondiscio_Homework_Post.jpg)">
        <div class="tag">
          <span class="badge badge-danger">Tutorial</span>
        </div>
        <div class="card-me__content_wrapper">
          <h5>Differiential Equations</h5><br>
          <h5>John Doe</h5>
          <br>
          <span class="badge badge-secondary">Math</span>
          <span class="badge badge-secondary">Calculus I</span>
          <span class="badge badge-secondary">MTH101</span>
          <span class="badge badge-secondary">...</span>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- end card -->
