<div class="row">
  <div class="col col-12">
    <br><br><br>
    <h1>Favorite</h1>
  </div>
  <% 1.upto(9) do |i|%>
    <%= render 'static_pages/tutorialPanel'%>
    <%= render 'static_pages/reviewPanel'%>
  <% end %>
</div>
<div class="row">
  <div class="col">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="loader"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
