<div class="row">
  <div class="col col-12">
    <div class="container">

      <div class="fixed-top">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </div>

      <%= link_to "Take me to next step", static_pages_Browse_path , {:class => "fixed-bottom btn btn-block btn-primary btn-lg"} %>

    </div>

    <br>
    <br>
    <br>
    <h3>Toggle To Select</h3>
    <hr>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Robotics</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Math</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Physics</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Chemistry</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Biology</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Economy</h3></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h3>Astrology</h3></button>
    <br>
    <br>
    <br>
    <script type="text/javascript">
    function changeclass(element) {
      $(element).toggleClass('btn-success');
    }
    </script>
  </div>
</div>
