<div class="row">
  <div class="col col-12">
    <div class="container">

      <div class="fixed-top">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </div>

      <%= link_to "Take me to next step", static_pages_Browse_path , {:class => "fixed-bottom btn btn-block btn-primary btn-lg"} %>

    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Robotics</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Math</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Physics</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Chemistry</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Biology</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Economy</h1></button>
    <button type="submit" class="btn btn-block cover-btn"  onclick="changeclass(this);"><h1>Astrology</h1></button>
    <br>
    <br>
    <br>
    <script type="text/javascript">
    function changeclass(element) {
      $(element).toggleClass('btn-dark');
    }
    </script>
  </div>
</div>
