<div class="row">
  <div class="col">
    <div class="image-profile" style="background-image  :url(https://scontent.fbkk1-1.fna.fbcdn.net/v/t1.0-9/19399354_1375362285873028_5662775519033542846_n.jpg?oh=a15b953ada86e1504382da07e4bcbc3d&oe=5A592D71)">
    </div>
    <br>
    <div class="profile-info">
      <h3>Suchat Tangjarukij</h3>
      <h4>Engineering Student at FIBO KMUTT</h4>
    </div>
    <br>
    <div class="profile-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="badge badge-secondary">Math</span>
    <span class="badge badge-secondary">Calculus I</span>
    <span class="badge badge-secondary">MTH101</span>
    <span class="badge badge-secondary">Math</span>
    <span class="badge badge-secondary">Calculus I</span>
    <span class="badge badge-secondary">MTH101</span>
    <span class="badge badge-secondary">Math</span>
    <span class="badge badge-secondary">Calculus I</span>
    <span class="badge badge-secondary">MTH101</span>
    <span class="badge badge-secondary">Math</span>
    <span class="badge badge-secondary">Calculus I</span>
    <span class="badge badge-secondary">MTH101</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col col-12">
    <h4>Uploads</h4>

  </div>
  <% 1.upto(3) do |i|%>
    <%= render 'static_pages/tutorialPanel'%>
    <%= render 'static_pages/reviewPanel'%>
  <% end %>
</div>
